<div class="row m-4">
  <!--<div class="col-md-4">
    <label>Your Location</label>
  </div>
  <div class="col-md-4">
    &lt;!&ndash;<input [(ngModel)]="locationQuery"
           [typeahead]="places"
           (typeaheadLoading)="searchPlaces()"
           (typeaheadOnSelect)="setSelectedPlace($event)"
           [typeaheadOptionsLimit]="5"
           typeaheadOptionField="display_place"
           autocomplete="off"
           class="form-control" name="placeSearch">&ndash;&gt;
  </div>-->
  <div class="col-md-6 col-12 col-lg-6 m-lg-auto m-md-auto">
    <input ngx-google-places-autocomplete class="form-control"
           #placesRef="ngx-places" (onAddressChange)="getWeatherData($event)"
           placeholder="Where are you ?" adressType="city"/>
  </div>
</div>
